@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200&family=Bad+Script&family=Dancing+Script:wght@600&family=Gloria+Hallelujah&family=IBM+Plex+Serif:wght@700&family=Josefin+Sans:wght@300;400;700&family=Jura:wght@500;700&family=Meow+Script&family=Open+Sans:wght@300&family=Pacifico&family=Permanent+Marker&family=Poppins&family=Quicksand&family=Rajdhani:wght@500&family=Rubik+Mono+One&family=Space+Mono&family=Work+Sans&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
}

@keyframes color {
  0% {
    background: #f8ede3;
  }
  20% {
    background: #dfd3c3;
  }
  40% {
    background: #d0b8a8;
  }
  60% {
    background: #ff6766;
  }
  80% {
    background: #d0b8a8;
  }
  100% {
    background: #f8ede3;
  }
}

.sidenav {
  height: 100%;
  width: 1rem px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(224, 216, 216, 0.171);
  overflow-x: hidden;
  padding-top: 20px;
  color: #4c3a51;
  font-size: 28px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #4c3a51;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.email-icon {
  margin-top: 600px;
}

header {
  background-color: #d0b8a8;
  height: 300px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: #ffdca9;
  animation: color 9s infinite linear;
}

main {
  width: 90%;
  margin: auto;
  margin-left: 10%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #dddddd00;
  text-align: center;
  background: #ffdca9; /* Fallback */
  animation: color 9s infinite linear;
}

li {
  width: 80px;
  margin: 5px;
  padding: 14px 16px;
  border-radius: 5px;
  border: 1px solid #e7ab79a8;
  padding: 4px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}

li,
a {
  display: inline-block;
  text-align: center;
  color: #774360;
  text-align: center;
  text-decoration: none;
  font-family: "Permanent Marker", cursive;
}

li a:hover {
  background-color: #e7ab79;
  color: #4c3a51;
}

h1 {
  text-align: center;
  font-family: "Gloria Hallelujah", cursive;
  font-size: 2.5em;
  color: #4c3a51;
}
h2,
h3 {
  color: #4c3a51;
  font-family: "Permanent Marker", cursive;
}

h4 {
  color: #774360;
  font-family: "Work Sans", sans-serif;
  padding: 10px;
  letter-spacing: 2px;
}
h5 {
  font-family: "Meow Script", cursive;
  font-size: 4.5rem;
}

h7 {
  font-family: "Jura", sans-serif;
}

p {
  font-family: "Quicksand", sans-serif;
  letter-spacing: 2px;
  line-height: 1.8;
}

.icon {
  width: 100px;
  height: 100px;
  border: 1px solid #4c3a51;
  border-radius: 50%;
  background-color: #ff6766;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 30px;
  color: #f8ede3;
}

.wraper {
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 500px;
  margin: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "strength1 strength2"
    "strength3 strength4";
}

.strength1 {
  grid-area: strength1;
}
.strength2 {
  grid-area: strength2;
}

.strength13 {
  grid-area: strength3;
}
.strength4 {
  grid-area: strength4;
}

.Languages {
  margin: 60px;
}

footer {
  background: #ffdca9; /* Fallback */
  animation: color 9s infinite linear;
  text-align: center;
  padding: 0.7em;
}

@media only screen and (min-width: 1440px) {
  .wraper {
    display: flex;
    justify-content: space-evenly;
  }

  p {
    letter-spacing: 4px;
    line-height: 2.5;
  }
  .strength1,
  .strength2,
  .strength3,
  .strength4 {
    width: 200px;
  }

  h5 {
    font-size: 9rem;
  }

  main {
    margin: auto;
    width: 70%;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  h7 {
    line-height: 1.8;
  }

  .email-icon {
    margin-top: 650px;
  }
}
